<h1>Question</h1>

<p>
  <strong>Text:</strong>
  <%= @question.text %>
</p>
 
<p>
  <strong>Weight:</strong>
  <%= @question.weight %>
</p>

<p>
  <strong>Format:</strong>
  <%= @question.format %>
</p>

<h2>Responses</h2>
<%= render @question.responses %>

<h2>Add a response:</h2>
<%= render "responses/form" %>

<%= link_to 'Back', questions_path %> | <%= link_to 'Edit', edit_question_path(@question) %>