<!-- Header -->
<header class="header">
  <div class="container">
    <h1>Tip Accordingly</h1>
    <p>This app asks you a series of questions about your restaurant experience and then suggests a tip percentage based on your responses.</p>
  </div>
</header>

<!-- Body -->
<div class="container">
  <div class="row">
    <!-- Questions Section -->
    <div class="col-md-8">
      <div class="questions-section">
        <!-- Questions -->
        <div id="questions"> 
          <% @questions.each do |question| %>
            <form name="question" id="question" action="" method="get">
              <!-- Question -->
              <p class="question-text"><%= question.text %></p>
              <p id="question-weight" class="question-weight"><%= question.weight %></p>
              <!-- Responses -->
              <% question.responses.each do |response| %>
                <div class="<%= question.format %>">
                  <label>
                    <input type="<%= question.format %>" name="response" id="response" value="<%= response.weight %>">
                    <%= response.text %>
                  </label>
                </div>
              <% end %>
            </form>
          <% end %>
        </div>
        <div id="alert" class="alert alert-danger" style="display:none">
          <strong>Oops!</strong> Please fill out all the required questions.
        </div>
        <!-- Calculate Button -->
        <p class="calculate">
          <button type="button" id="calculate" class="btn btn-default btn-lg">Calculate Tip</button>
        </p>
      </div>
    </div>
    <!-- Percentage Section -->
    <div class="col-md-4">
      <div class="percentage-section" data-spy="affix" data-offset-top="222" data-offset-bottom="121">
        <div class="percentage-box">
          <div class="text">Your suggested percentage:</div>
          <div id="percentage" class="percentage"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="footer">
  <div class="container">
    <p>&copy; Michael Lannin</p>
  </div>
</footer>